
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
    color: #484848;
    width: 100%; /* 设置宽度为视口宽度 */
    height: 100%; /* 确保父元素占满视口高度 */
    z-index: 0;
    background-color: #1a1c29;
}
.Adlogin {
    height: 100vh; /* 设置高度为视口高度 */
    width: 100%; /* 设置宽度为视口宽度 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    background-color: #1a1c29;
}
.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23vh;
    margin-right: 5vw;
    z-index: 2; /* 确保登录框在背景图片上方 */
}
.login-card {
    width: 400px;
    padding: 30px 20px 20px 20px;
}
.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #409eff;
}
.Adlogin-form .el-form-item .el-input {
    width: 90%;
}
