
body {
    background-color: #f0f0f0;
    font-family: Georgia, serif;
    width: 100%; /* 设置宽度为视口宽度 */
    height: 100vh; /* 确保父元素占满视口高度 */
    padding: 0;
    margin: 0; /* 去除默认边距 */
}
.usermaindemo {
    height: 100vh; /* 设置高度为视口高度 */
    width: 100%; /* 设置宽度为视口宽度 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    background-image: url(/background.png); /* 设置背景图片 */
    background-repeat: no-repeat; /* 不重复背景图像 */
    background-size: cover; /* 背景图片覆盖整个区域 */
    background-position: center; /* 背景图片居中显示 */
}
.usermaindemo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(42, 69, 100, 0.5);
    z-index: 1; /* 确保覆盖层在背景图片上方 */
}
.user-page .user-avatar,
.user-page .user-avatar:hover {
    border-color: #ff5722;
}
.usermaintext {
    position: absolute;
    top: 13%;
    left: 46.5%; /* 水平居中 */
    z-index: 2; /* 确保主内容在背景之上 */
}
.uavatar {
    width: 7vw;
    height: 7vw;
    border-radius: 50%; /* 圆形头像 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    transition: transform 0.2s ease;
    z-index: 3;
}
.uavatar:hover {
    transform: scale(1.1);
}
.details {
    position: absolute;
    top: 50%;
    left: -445%;
    z-index: -1;
    width: 70vw;
    height: 65vh;
    opacity: 0.92;
}
.box-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 3;
}
.box-card:hover {
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2); /* 添加阴影 */
}
.umaintext {
    font-size: 30px;
    padding: 0 20px;
    font-family: fzqkbysjw, sans-serif; /* 设置字体 */
    color: #3f3f3f; /* 第一个 <li> 的字体颜色 */
}
.text_item {
    font-size: 20px;
    margin: 20px 100px;
    font-weight: 500;
    color: #222222; /* 第一个 <li> 的字体颜色 */
    font-family: Georgia, serif;
}
.el-dialog {
    z-index: 2000 !important; /* 确保遮罩层在最上层 */
    position: absolute; /* 绝对定位 */
    top: 20%; /* 垂直居中 */
    left: 35%; /* 水平居中 */
}
@media screen and (max-width: 768px) {
.details {
        height: 50vh;
}
.umaintext {
        font-size: 20px; /* 调整字体大小以适应小屏幕 */
}
.text_item {
        font-size: 16px; /* 调整字体大小以适应小屏幕 */
        margin: 10px 20px; /* 调整边距以适应小屏幕 */
}
.el-button {
        width: 80px;
}
}
