<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.astralbridge.spring.moviehub.mapper.MovieMapper">
    <resultMap id="movieResultMap"
               type="Movie">
        <id property="id" column="MOVIE_ID"/>
        <result property="title" column="MOVIE_TITLE"/>
        <result property="description" column="MOVIE_DESCRIPTION"/>
        <result property="releaseDate" column="MOVIE_RELEASE_DATE"/>
        <result property="duration" column="MOVIE_DURATION"/>
        <result property="coverImage" column="MOVIE_COVER_IMAGE"/>
        <result property="region" column="MOVIE_REGION"/>
        <result property="isVip" column="MOVIE_IS_VIP"/>
        <result property="playCount" column="MOVIE_PLAY_COUNT"/>
        <result property="score" column="MOVIE_SCORE"/>
        <result property="createTime" column="MOVIE_CREATE_TIME"/>
        <result property="updateTime" column="MOVIE_UPDATE_TIME"/>
        
        <collection property="movieTypes" column="MOVIE_MOVIE_TYPE_TYPE_ID" ofType="MovieType"
                    foreignColumn="MOVIE_TYPE_ID">
            <id property="id" column="MOVIE_TYPE_ID"/>
            <result property="name" column="MOVIE_TYPE_NAME"/>
        </collection>
        
        <!-- <collection property="directors" column="id"
            select="space.astralbridge.spring.moviehub.mapper.DirectorMapper.selectById" />
        <collection property="actors" column="id"
            select="space.astralbridge.spring.moviehub.mapper.ActorMapper.selectById" /> -->
    </resultMap>
    
    <sql id="joinAllColumns">
        SELECT M.ID           AS MOVIE_ID,
               M.TITLE        AS MOVIE_TITLE,
               M.DESCRIPTION  AS MOVIE_DESCRIPTION,
               M.RELEASE_DATE AS MOVIE_RELEASE_DATE,
               M.DURATION     AS MOVIE_DURATION,
               M.COVER_IMAGE  AS MOVIE_COVER_IMAGE,
               M.REGION       AS MOVIE_REGION,
               M.IS_VIP       AS MOVIE_IS_VIP,
               M.PLAY_COUNT   AS MOVIE_PLAY_COUNT,
               M.SCORE        AS MOVIE_SCORE,
               M.CREATE_TIME  AS MOVIE_CREATE_TIME,
               M.UPDATE_TIME  AS MOVIE_UPDATE_TIME,
               MMT.TYPE_ID    AS MOVIE_MOVIE_TYPE_TYPE_ID,
               MT.ID          AS MOVIE_TYPE_ID,
               MT.NAME        AS MOVIE_TYPE_NAME
        FROM MOVIE AS M
                 LEFT JOIN MOVIE_MOVIE_TYPE AS MMT ON MMT.MOVIE_ID = M.ID
                 LEFT JOIN MOVIE_TYPE AS MT ON MT.ID = MMT.TYPE_ID
    </sql>
    
    
    <select id="selectById" resultMap="movieResultMap"
            parameterType="java.io.Serializable">
        <include refid="joinAllColumns"/>
        WHERE M.ID = #{id}
    </select>
    
    <select id="selectList" resultMap="movieResultMap">
        <include refid="joinAllColumns"/>
    </select>

</mapper>